body{
    background-color: #F8F0E5;
    width: 100%;
    height: 100vh;
    align-items: center;
    text-align: center;
}
header{
    background-color: #113946;
    width: 100%;
    height: 60px;
}
.picapau{
    margin-top: -50px;
    align-items:center;
    text-align: center;
}
ul {
    display: flex;
    justify-content: space-around;
    list-style-type: none;
    padding: 40px;
}
.a{
    background-color: #F8F0E5;
    width: 100%;
    height: 20px;
}
section li a{
    text-decoration: none;
    color: #113946;
    cursor:pointer;
}
li a:hover{
    color: #C7B198;
}
footer{
    background-color: #113946;
    width: 100%;
    height: 100px;
    margin-top: 9%;
}
.nome{
    font-size: xx-large;
    color: #113946;
}
section .nome a{
    align-items: center;
    display: flex;
    text-align: center;
    justify-content: center;
    margin-top: 35px;
    text-decoration: none;
    margin-top: -90px;
}
.nome a:hover{
    color: #C7B198;
}
.tag{
    width: 100%;
    height: 100px;
    align-items: center;
}
.container2{
    max-width: 100vh;
    margin: 0 auto;
    padding: 0 1%;
    display: flex;
    margin-top: 20px;
    text-align: center;
    align-items: center;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
    height: 450px;
}
form{
    background-color: #fff;
    max-width: 500px;
    height: 450px;
    padding: 40px;
    border-radius: 20px;
}
form h1{
text-align: center;
font-size: 30px;
color: #2d5966;
}
form p{
    text-align: center;
    margin:20px 0px;
}
.input-single{
    position: relative;
    margin: 30px 0;
}
.input-single label{
    position: absolute;
    left: 0;
    bottom: 5px;
    transition: all 0.2s;
    cursor: text;
}
.input{
    width: 100%;
    border: 0;
    border-bottom: 2px solid #ccc;
    padding:5px;
    font-size: 17px;
    outline: none;   
}
form .input-single .input:focus ~ label,
form .input-single .input:valid ~ label{
    transform: translateY(-24px);
    font-size: 12px;
    color: #2d5966;
}
.btn{
    width: 100%;
    text-align: center;
}
form input[type=submit]{
    padding: 10px 40px;
    border: 0;
    border-radius: 100px;
    background-color: #2d5966;
    color: #fff;
    cursor: pointer;
}

a{
    text-decoration: none;
  }